<h1>My Name</h1>
    <h2>
      Todo # <%= params[:id]%> <%= @description %>
    </h2>
    <br/>
      <h2>
       Pomodoro Estimate : <%= @pomodoro_estimate %>
    </h2>
<ul>

	<li> <input type="checkbox"><%= @todo_1 %> </li>
	<li> <input type="checkbox"><%= @todo_2 %> </li>
	<li> <input type="checkbox"><%= @todo_3 %> </li>
</ul>
<button><a href="/todo/edit/<%=@todo.id%>" id="edit-todo-button"> Edit </a></button>
<a href="#">delete</a>
<a href="../index">go back</a>

  