<h1>My Name</h1>
    <h2>
      Todo # <%= params[:id]%> <%= @todo_description %>
    </h2>
<ul>

	<li> <input type="checkbox"><%= @todo_1 %> </li>
	<li> <input type="checkbox"><%= @todo_2 %> </li>
	<li> <input type="checkbox"><%= @todo_3 %> </li>
</ul>
<a href="#">edit</a>
<a href="#">delete</a>
<a href="../index">go back</a>
    <%= @color %>
    <%= @todo_mood %>

  